<div style="font-size: 20px; text-align: center;">
    <p>Some agreement template</p>
    <p style="font-size: 15px;">
        {{agreement.first_name}} - {{agreement.last_name}}
    </p>
    <p>
        {{agreement.street}} - {{agreement.post_code}}
    </p>
    <p style="font-size: 15px;">
        Dated: {{agreement.sign_date}}
    </p>
</div>